* {
  margin: 0;
  padding:0;
  box-sizing: border-box;
  width: 100%;
  font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";

}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

.flexContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.column {
  flex-direction: column;
}

#main,
#choice,
#pointsRounds,
#winner {
  flex: 1;
}

#winnerText {
  flex: 0.5;
}

#winnerChoice {
  flex: 1.5;
}

.paddingMain{
  padding: 4rem;
}

#choice,
#choiceText{
  width: 50%;
}

.play {
  flex: 1;
  height: 3rem;
  
}

.titleFont {
  font-size: 3.5rem;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  padding: 1rem;
}

.mainFont {
  font-size: 1.75rem;
}

.winnerFont {
  font-size: 2.5rem;
}


#headerFooter{
  background-color: #27303d;
  color: aliceblue;
}

.mainBackground {

}

#headerFooter.footerPadding {
  padding: 0.5rem;
  font-size: 1.25rem;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}


.border {
  border: 3px solid #3882f6 ;
  border-radius: 10px;
  padding: 2rem;
  width: 75%;
}

.spaceAround {
  justify-content: space-around;
}

#pointsRounds {
  gap: 0.25rem;
  width: 75%;
}






/* Copied Online */
.button-4 {
  appearance: none;
  background-color: #FAFBFC;
  border-radius: 10px;
  box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0, rgba(255, 255, 255, 0.25) 0 1px 0 inset;
  box-sizing: border-box;
  color: #24292E;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 20px;
  list-style: none;
  padding: 6px 16px;
  position: relative;
  transition: background-color 0.2s cubic-bezier(0.3, 0, 0.5, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
  word-wrap: break-word;
}

.button-4:hover {
  background-color: #508ef1;
  text-decoration: none;
  transition-duration: 0.1s;
}

.button-4:disabled {
  background-color: #FAFBFC;
  border-color: rgba(27, 31, 35, 0.15);
  color: #959DA5;
  cursor: default;
}

.button-4:active {
  background-color: #3882f6;
  box-shadow: rgba(225, 228, 232, 0.2) 0 1px 0 inset;
  transition: none 0s;
}

.button-4:focus {
  outline: 1px transparent;
}

.button-4:before {
  display: none;
}

.button-4:-webkit-details-marker {
  display: none;
}

.button-4 {
  background-color: #3882f6;
  border-radius: 10px;
  padding: 8px 32px;
  min-width: max-content;
  border: #FAFBFC 0px solid;
  color: #FAFBFC;
  
}